<!DOCTYPE html>
<html>
 <%-include('partials/head');-%>
  <body>
  <%-include('partials/header');-%>
  <%-include('partials/carousel');-%>
  <%-include('partials/footer');-%>
  <%-include('partials/copy');-%>
  <%-include('partials/footer-script');-%>
  </body>
</html>
